* {
  box-sizing: border-box;
  /*background-color: #222;*/
  color: white;
}

img {
  width: 100%;
  /*max-width: 300px;*/
}

.App {
  text-align: center;
  background-image: url("http://lorempixel.com/1920/1080/cats/");
  height: 100vh;
  width: 100vw;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vh;
  width: 10vh;
}

.App-header img{
  /*background-color: #222;*/
  /*height:150px;*/
  /*padding: 20px;*/
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.IDKButton {
  /*height: 100vh;*/
  /*width: 100vw;*/

  margin-top: 20px;
  color: black;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
